.aside-block {
    display: flex;
    flex: 1 1 250px;
    flex-flow: row wrap;
    flex-wrap: wrap;
    max-width: 20%;
    margin-top: 50px;
}

.aside-block img {
    max-width: 90%;
    margin-left: 25px;
}
